//@import 'assets/styles/_veriables.scss';

#aboutMe{
//    color:
    background-color:#f4f4f4;
    padding: 2em 0px;
    .aboutMe-content{
        padding: 2% 0%;
    }
    a{
        text-decoration: none;
        span{
            font-weight: 500;
        }
    }
    #aboutme-details {
        padding-left: 40px;
        b{
            font-weight: 500;
        }
    }
}
@media screen and (max-width: 992px) {
    #aboutMe {
        #aboutme-details {
            padding-top: 25px;
        }
    }
}