//@import 'assets/styles/_veriables.scss';

#aboutMe{
//    color:
    background-color:#f4f4f4;
    padding: 2em 0px;
    .aboutMe-content{
        padding: 2% 4%;
    }
    a{
        text-decoration: none;
        color: #804bb1;
        span{
            font-weight: 500;
        }
    }
    #aboutme-details {
        padding-left: 40px;
        b{
            font-weight: 500;
        }
    }
    .wrp-lnk-download-my-resume{
        margin-top:35px;
    }
    a.lnk-download-my-resume    {
        text-decoration: none;
        border: 2px solid #55C1E5;
        font-size: 0.9em;
        padding: 0.7em 1.5em;
        color: #33a5ca;
        border-radius: 8px;
        margin-top:30px;
        cursor: pointer;
    }
}
