<div id="overview">
<carousel>
    <slide>
        <img src="../../assets/images/home-background.JPG" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
    <slide>
      <img src="../../assets/images/home-background2.JPG" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/images/home-background3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
  <nav>
    <ul>
      <li>Home</li>
      <li>About Me</li>
      <li>Experience</li>
      <li>Resume</li>
      <li>Skills</li>
      <li>  Contact</li>
    </ul>
  </nav>
</div>