#overview {
    // carousel slide img{
    //     max-height: 500px;
    // }   
    // .carousel-caption {
    //     bottom: 200px;
    // }   
    //background-image: url("assets/images/home-background.JPG");
    min-height: 500px;
    background-image: url(/assets/images/home_bkg.png);
    background-size: cover;
    
    .home-background {
        width: 100%;
        height: auto;
    }
    .ap-carousel-overviewWrapper{
        margin-top: 17%;
        text-align: center;
    }
    .navToggler {
        display: none;
        background-color: #b0b2ae;
        height: 40px;
    }
    nav {
        ul {
            position: absolute;
            top: 50px;
            right: 90px;
            li {
                display: inline-block;
                padding-left: 40px;
                font-weight: 500;
                cursor: pointer;
                a {
                    text-decoration: none !important;
                    color: grey;
                }
                a:hover {
                    color: rgb(53, 52, 50);
                }
            }
        }

    }
}

@media screen and (max-width: 768px) {
    #overview {
        position: relative;
        .carousel {
            position:absolute;
            top:0;
        }
        nav {
            display: none;
            position: absolute;
            width: 100%;
            z-index: 9;
            ul {
                position: static;
                padding: 0px;
                li {
                    display: block;
                    height: 32px;
                    background-color: #d3d1d1;
                    border-bottom: 1px solid white;
                }
            }
        }
        nav.open {
            display: block;
        }
        .navToggler {
            display: block;
            //margin: 20px 6% 0px;
            //border-radius: 8px;
            color: white;
            .left {
                font-weight: bold;
                position: relative;
                top: 8px;
                left: 10px;
            }
            .right {
                float: right;
            }
            img {
                height: 35px;
                width: 35px;
                padding-top: 5px;
            }
        }
    }
}
/*
carousel{
    .carousel {
        .carousel-control {
            display: none !important;
        }
    }
}
a.right.carousel-control {
    display: none !important;
  }
  a.left.carousel-control {
    display: none !important;
  }
  */