
#overview {
    // carousel slide img{
    //     max-height: 500px;
    // }   
    // .carousel-caption {
    //     bottom: 200px;
    // }   
    //background-image: url("assets/images/home-background.JPG");
    min-height: 500px;
    background-image: url(/assets/images/home_bkg.png);
    background-size: cover;
    
    .home-background {
        width: 100%;
        height: auto;
    }
    .ap-carousel-overviewWrapper{
        margin-top: 20%;
        text-align: center;
    }
    nav {
        ul {
            text-decoration: none;
            position: absolute;
            top: 50px;
            right: 90px;
            li {
                display: inline-block;
                padding-left: 40px;
                color: grey;
                font-weight: 500;
                cursor: pointer;
            }
        }

    }
}
/*
carousel{
    .carousel {
        .carousel-control {
            display: none !important;
        }
    }
}
a.right.carousel-control {
    display: none !important;
  }
  a.left.carousel-control {
    display: none !important;
  }
  */