<div class="container ap-margin" id="experience">
    <h3 class="heading">EXPERIENCE</h3>
    <div class="row base-color">
        <div class="col-lg-6">
          <h4>Specialities</h4>
          <div>User Expereince & User Requirements, Analysis, design and development of Java based applications, effort estimations and negotiations techniques, client facing activities, Product modeling, Team mentoring.
            </div>
            <br>
              <div>Domains : Telecom, Financial</div>
              <div>
                  <a class="btn-lnk"><b>View on Linkedin</b></a>
              </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
    </div>