<div class="container ap-margin" id="experience">
    <h3 class="heading">{{experience.title}}</h3>
    <div class="row base-color expContainer">
        <div class="col-lg-6">
          <h4>Specialities</h4>
          <div>{{experience.specialities}}</div>
            <br>
              <div>Domains : 
                <ng-container *ngFor="let domain of experience.domains;let last = last">
                    <span>{{domain}}<ng-container *ngIf="!last">, </ng-container></span>
                </ng-container>
              </div>
              <div>
                  <a class="btn-lnk"><b>View on Linkedin</b></a>
              </div>
        </div>
        <div class="col-lg-6">
            <div *ngFor="let org of experience.organizations">
                <time-line [organization]="org"></time-line>
            </div>
        </div>
    </div>
    </div>