<div class="container ap-margin" id="skills">
    <h3 class="heading">{{skills.title}}</h3>
    <div class="row aboutMe-content base-color">
        <ng-container *ngFor="let skl of skills.knowledge">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ap-xs-center">
            <circle-progress
              [percent]="skl.skillRating"
              [radius]="80"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="skl.color"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="400"
              [subtitle]= "skl.skillName"
              [subtitleColor]="green"
              [subtitleFontSize]="22"
            ></circle-progress>
        </div>
          </ng-container>
    </div>
</div>
    
