<!-- <p>
  {{organization.name}}
</p> -->
<div class="time-line-wrapper">
  <div class="time-line">
    <div class="clrGrey">
      {{organization.year}}
    </div>
    <div class="inner-wrapper">
      <!-- <span class="dotCircle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
          <div class="imgWrapper">
            <img src="../../../../assets/images/{{organization.logo}}"/>
          </div>
          <div class="orgDetails">
             <h5 class="orgName">  {{organization.name}}</h5>
             <div class="orgDesignation">  {{organization.designation}}</div>
             <div class="orgDuration">  {{organization.duration}}</div>
             <div class="orgLocation">  {{organization.city}}, {{organization.country}} </div>
          </div>
    </div>
  </div>
</div>