<div id="strengths">
    <carousel>
        <slide>
            <div class="py-5 ap-carousel-Slide">
                <div class="ap-carousel-imgWraper">
                   <h3 class="roundedTxtFir">FRONTEND</h3>
                   <h3 class="roundedTxtSec">BACKEND</h3>
                </div>
                <div class="ap-carousel-contentWrapper">
                    <h3>Cocktail of Frontend and Backend Developement</h3>
                    <span class="ap-desc-text">
                        "I’m an experienced and passionate java backend developer with prompt knowledge of user interface designs."
                    </span>
                </div>
            </div>
        </slide>
        <slide>
            <div class="py-5 ap-carousel-Slide">
                <div class="ap-carousel-imgWraper">
                   <h3 class="roundedTxtFir">DESIGN</h3>
                   <h3 class="roundedTxtSec">ANALYSIS</h3>
                </div>
                <div class="ap-carousel-contentWrapper">
                    <h3>Vast Experience with Design Patterns and Analysis</h3>
                    <span class="ap-desc-text">
                        "I am mastered in various design patterns ,impact analysis strategies, requirement gathering, effort estimations and negotiations techniques."
                    </span>
                </div>
            </div>
        </slide>
        <slide>
            <div class="py-5 ap-carousel-Slide">
                <div class="ap-carousel-imgWraper">
                    <h3 class="roundedTxtFir">TECHNOLOGY</h3>
                    <h3 class="roundedTxtSec">MEHTHODOLOGY</h3>
                </div>
                <div class="ap-carousel-contentWrapper">
                    <h3>Extensive Knowledge of Frameworks, Tools and Methodologies</h3>
                    <span class="ap-desc-text">
                        "I have build amazing things with technologies like <b>Java, Javascript (Angular js, React js, Polymer js, Vanilla js), Spring, Hibernate, OSB, SOA, Web Services, XML, Oracle, SQL &amp; PL/SQL </b>with methodologies like <b>Agile, Scrum, RUP and Waterfall</b>"
                    </span>
                </div>
            </div>
        </slide>
    </carousel>
</div>