#strengths {
    .ap-carousel-Slide{
        background-color:#f4f4f4;
    }
    .ap-carousel-contentWrapper {
        h3 {
            color: #404040;
        }
        .ap-desc-text {
            color: #7b7b7b
        }
    }
}