@import '_variables';

.ap-margin {
    padding-left: 15% !important;
    padding-right: 15% !important;
    width:auto !important;
    max-width: 100% !important;
}
.ap-margin-zero-auto{
    margin: 0px auto;
}
.heading{
    color: #292929;
    border-bottom: 3.5px solid #E1E1E1;
    width: 130px;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
}
.base-color{
    color: #7b7b7b;
}
a.btn-lnk {
    text-decoration: none;
    border: 2px solid #55C1E5;
    font-size: 0.9em;
    padding: 0.7em 1.5em;
    color: #5eabda !important;
    border-radius: 8px;
    margin-top:30px;
    display: inline-block;
    cursor: pointer;
    b {
        font-weight: 500;
    }
}
.ap-carousel-Slide {
    padding: 0% 10%;
    min-height: 280px;
    .ap-carousel-imgWraper {
        display: inline-block;
        clear: both;
        width:100%;
        vertical-align: top;
        img {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            display: block;
        }
    }
    .ap-carousel-contentWrapper {
        // width: 55%;
        display: inline-block;
        clear: both;
        .ap-desc-text {
            display: inline-block;
        }
    }
}
.ap-txtAlign-justify {
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .ap-carousel-Slide {
        .ap-carousel-contentWrapper {
            padding-top: 25px;
        }
    }
}