#testimonial {
    .ap-carousel-Slide{
        background-color: #35AFB7;        
    }
    .ap-carousel-contentWrapper {
        h3 {
            color: #404040;
        }
        .ap-desc-text {
            color: white;
        }
    }
}